@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}
/* --------Top Section----------- */
.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}
.intro-text {
  font-size: 22px;
}
.anim-text {
  color: transparent;
  position: relative;
}
.anim-text::before {
  content: "Influencer";
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(224, 44, 109);
  animation: typing 4s linear infinite;
}
@keyframes typing {
  0% {
    content: "|";
  }
  7% {
    content: "I|";
  }
  14% {
    content: "In|";
  }
  21% {
    content: "Inf|";
  }
  28% {
    content: "Infl|";
  }
  35% {
    content: "Influ|";
  }
  42% {
    content: "Influe|";
  }
  49% {
    content: "Influen|";
  }
  56% {
    content: "Influenc|";
  }
  63% {
    content: "Influence|";
  }
  70% {
    content: "Influencer|";
  }
  80%,
  88% {
    content: "Influencer|";
  }
  89% {
    content: "Influenc|";
  }
  90% {
    content: "Influen|";
  }
  91% {
    content: "Influe|";
  }
  92% {
    content: "Influ|";
  }
  93% {
    content: "Infl|";
  }
  94% {
    content: "Inf|";
  }
  95% {
    content: "In|";
  }
  96% {
    content: "I|";
  }
  97% {
    content: "|";
  }
  100% {
    content: "|";
  }
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 50px;
}
.text {
  padding: 15px 0;
  font-size: 15px;
}
.button {
  background-color: rgb(224, 44, 109);
  color: white;
  margin-top: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.top-right img {
  height: 414px;
  width: 440px;
}

/* ------Collection Section------ */
.collection-section {
  margin: 50px 0;
}
.cart {
  box-shadow: 0px 0px 20px gray;
  padding: 20px;
  justify-content: center;
  border-radius: 5px;
}
.collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}
.rating {
  display: flex;
}
.p-rat {
  padding-left: 10px;
}
.fa-star.fill {
  color: goldenrod;
}
.fa-star.empty {
  color: gray;
}
.more {
  text-decoration: none;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* ------Accessories Section------ */
.accessories-section {
  margin: 50px 0;
  padding-top: 50px;
}
.cart img {
  height: 254px;
  width: 100%;
}

/* ------Footer Section------ */
.footer {
  background-color: rgb(10, 8, 38);
  color: white;
  height: 120px;
  padding: 20px 0;
  text-align: center;
}
.foot-text1 {
  font-size: 16px;
  font-weight: 500;
}
.foot-text2 {
  font-size: 10px;
}

/* -----------------------
----responsive screens ---
-------------------------*/

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  nav {
    justify-content: center;
    font-size: 20px;
  }
  .name {
    padding-top: 20px;
  }
  .top-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .top-left {
    padding: 0;
    order: 2;
  }
  .top-left h2,
  p {
    text-align: center;
    padding: 0;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .button,
  .anim-text {
    margin: 0 auto;
  }
  .top-right img {
    width: 100%;
    height: 360px;
    padding-top: 20px;
  }
  .collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
  }
}
.cart {
  text-align: center;
}
.rating {
  justify-content: center;
}
.footer {
  width: auto;
}

/* Tablet Devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .top-left {
    padding-left: 20px;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
  }
}
