@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}
/* --------Top Section----------- */
.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}
.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 50px;
}
.text {
  padding: 20px 0;
  font-size: 15px;
}
.button {
  background-color: rgb(224, 44, 109);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}
.top-right img {
  height: 414px;
  width: 440px;
}

/* ------Collection Section------ */
.collection-section {
  margin: 50px 0;
}
.cart {
  box-shadow: 0px 0px 20px gray;
  padding: 20px;
  justify-content: center;
}
.collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}
.rating {
  display: flex;
}
.p-rat {
  padding-left: 10px;
}
.fa-star.fill {
  color: goldenrod;
}
.fa-star.empty {
  color: gray;
}
.more {
  text-decoration: none;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* ------Accessories Section------ */
.accessories-section {
  margin: 50px 0;
  padding-top: 50px;
}
.cart img {
  height: 254px;
  width: 100%;
}

/* ------Footer Section------ */
.footer {
  background-color: rgb(10, 8, 38);
  color: white;
  height: 120px;
}
